/* === ПЕРЕМЕННЫЕ И БАЗОВЫЕ НАСТРОЙКИ === */
:root {
    /* Цветовая схема в стиле Матрицы */
    --matrix-green: #FFFF00;
    --matrix-dark-green: #008f11;
    --matrix-bg: #8f5f5f;
    --matrix-bg-light: #1a1a1a;
    --text-primary: #00ff41;
    --text-secondary: #97a0ff;
    --text-muted: #888888;
    --accent: #ff0040;
    --border-color: #00ff4133;
}

/* Сброс стандартных стилей */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Основные стили body */
body {
       font-family: 'Courier New', monospace;
    background-color: var(--matrix-bg);
    color: var(--text-secondary);
    line-height: 1.6;
    min-height: 100vh;
    
    /* Эффект сканлиний как у старого монитора */
    background-image: 
       
        url('https://avatars.mds.yandex.net/i?id=0c1a7831ccf96d61343733d754012df0_l-12143639-images-thumbs&n=13');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Фон фиксируется при скролле */
    
    /* Убраны лишние свойства */
    display: block;
    margin: 0;
}



/* Контейнер */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-image: ('https://i.pinimg.com/736x/8a/be/66/8abe668b5570a6b67f5d39b5f2e963f6.jpg')
}

/* Эффект свечения для текста */
@keyframes glow {
    0%, 100% {
        text-shadow: 
            0 0 5px var(--matrix-green),
            0 0 10px var(--matrix-green),
            0 0 15px var(--matrix-dark-green);
    }
    50% {
        text-shadow: 
            0 0 10px var(--matrix-green),
            0 0 20px var(--matrix-green),
            0 0 30px var(--matrix-dark-green);
    }
}


/* === ШАПКА САЙТА === */
.movie-header {
    text-align: center;
    padding: 40px 0;
    background: url(' https://avatars.mds.yandex.net/i?id=2a0000017a06882d9b57a31a471291a377f6-4357983-images-thumbs&n=13' );
    background-size: cover;
    position: relative;
    background-position: center;
    
    background-repeat: no-repeat;

    border: 1px solid var(--border-color);
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

/* Навигация */
.main-nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
}

.main-nav a {
    color: var(--text-secondary);
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid var(--matrix-green);
    border-radius: 5px;
    background: rgba(0, 255, 65, 0.05);
    transition: all 0.3s ease;
}

.main-nav a:hover {
    background: var(--matrix-green);
    color: var(--matrix-bg);
    transform: scale(1.05);
    box-shadow: 0 0 20px var(--matrix-green);







